.card {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: $card-width;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  font-family: Roboto, sans-serif;

  &__image {
    width: 160px;
    height: 134px;
    margin-top: 32px;
    margin-right: 19px;
    margin-left: 19px;

    background-image: url('../images/imac.jpeg');
    background-position: center;
    background-size: cover;
  }

  &__title {
    margin-top: 40px;
    margin-right: 16px;
    margin-left: 16px;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #060b35;
  }

  &__productcode {
    margin-top: 4px;
    margin-left: 16px;

    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #616070;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
  }

  &__reviews {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #060b35;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 24px;
    margin-right: 16px;
    margin-left: 16px;
  }

  &__pricelabel {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #616070;
  }

  &__priceamount {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #060b35;
  }

  &__buy {
    box-sizing: border-box;
    width: 166px;
    height: 40px;
    margin: 16px;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    color: white;
    text-align: center;
    text-transform: uppercase;

    background-color: $button-color;
  }

  &__buy:hover {
    border: 1px solid $button-hover-color;
    color: $button-hover-color;
    background-color: white;
  }
}
